 @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

 /* Colors */
 :root {
     /* Most text and often a background colour (eg menus, footer, page headers) */
     --color-default: #000045;
     /* Used as a general highlight/background colour, for hyperlinks and an option for page headers */
     --color-primary: #5000F2;
     /* Often used for hoverstates as well as a colour option for page headers */
     --color-secondary: #FF8A00;
     /* Page headers 1*/
     --color-header-1: #36C280;
     /* Page headers 2*/
     --color-header-2: #FFF057;
     /* Page headers 3*/
     --color-pink: #FF38D1;
     /* Page headers 4*/
     --color-header-4: #E30052;
     /* Page headers 5*/
     --color-header-5: #8F0057;
     /* Page headers 6*/
     --color-header-6: #C400ED;
     /* Page White colour*/
     --color-white: #FFFFFF;
     --color-light-gray: #F2F2F2;
     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     --font-family-default: 'Sora', sans-serif;
 }

 /* Smooth scroll behavior */
 :root {
     scroll-behavior: smooth;
 }

 /*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
 body {
     color: var(--color-default);
     font-family: var(--font-family-default);
     font-weight: 500;
     font-size: 14px;
     line-height: 150%;
     letter-spacing: -1%;
     overflow-x: hidden;
     max-width: 1800px;
     margin: 0 auto;
 }

 a {
     color: var(--color-primary);
     text-decoration: none;
 }

 a:hover {
     color: var(--color-default);
 }

 /* Used for: Landing page titles */
 h1 {
     font-size: 48px;
     line-height: 135%;
     letter-spacing: -1%;
     font-weight: 900;
 }

 /* Used for: Homepage carousel, destination page titles */
 h2 {
     font-size: 40px;
     line-height: 135%;
     letter-spacing: -1%;
     font-weight: 500;
 }

 /* Used for: Page subtitles */
 h3 {
     font-size: 32px;
     line-height: 135%;
     font-weight: 700;
     letter-spacing: -1%;
 }

 /* Used for: Card titles, pull quotes etc */
 h4 {
     font-size: 19px;
     line-height: 145%;
     letter-spacing: -1%;
 }

 @media(max-width: 991px) {
     h1 {
         font-size: 29px;
     }
 }

 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .w-90 {
     width: 90% !important;
 }

 .f-size-xl {
     font-size: 32px;
 }

 .h2-has-h3 {
     font-size: 32px;
     line-height: 135%;
     font-weight: 700;
     letter-spacing: -1%;
 }

 .mtop-5 {
     margin-top: 5rem !important;
 }

 .mtop-6 {
     margin-top: 6rem !important;
 }

 .color-default {
     color: var(--color-default) !important;
 }

 .form-control {
     border-radius: 0;
     border-color: var(--color-default);
     line-height: 2;
 }

 .form-check-input[type=checkbox] {
     border-radius: 0;
 }
 .form-check-input{
    height: 14px;
    width: 14px;
    border: 1px solid var(--color-default);
 }
 .form-check-input:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
 /*--------------------------------------------------------------
# Background Color
--------------------------------------------------------------*/
 .gray-bg {
     background-color: var(--color-light-gray);
 }

 .pink-bg {
     background-color: var(--color-pink);
 }

 .blue-bg {
     background-color: var(--color-default);
 }

 .light-blue-bg {
     background-color: var(--color-primary);
 }

 .green-bg {
     background-color: var(--color-header-1);
 }

 .megenta-bg {
     background-color: var(--color-header-6);
 }

 /*--------------------------------------------------------------
# All Buttons
--------------------------------------------------------------*/
 .btn-primary {
     background-color: var(--color-default);
     color: var(--color-white);
     border: 1px solid var(--color-default);
     border-radius: 30px;
     font-style: normal;
     font-weight: 400;
     padding: 10px 20px;
 }

 .btn-primary:hover,
 .btn-primary:focus {
     background-color: var(--color-white);
     color: var(--color-default);
     border: 1px solid var(--color-default);
     -webkit-transition: all .3s linear 0s;
     transition: all .3s linear 0s;
 }

 .btn-primary:focus,
 .btn-primary-white-border:focus,
 .btn-primary-border:focus {
     outline: 2px dotted var(--color-white);
     outline-offset: 5px;
 }

 .btn-secondary:focus {
     outline: 2px dotted var(--color-default);
     outline-offset: 10px;
 }

 .btn-primary:active {
     background-color: var(--color-secondary);
 }

 .btn-secondary {
     background-color: var(--color-white);
     color: var(--color-default);
     border: 1px solid var(--color-default);
     border-radius: 30px;
     font-style: normal;
     font-weight: 400;
     padding: 10px 20px;
 }

 .btn-secondary:hover {
     background-color: var(--color-default);
     color: var(--color-white);
     border: 1px solid var(--color-white);
     -webkit-transition: all .3s linear 0s;
     transition: all .3s linear 0s;
 }

 .btn-secondary:active {
     background-color: var(--color-secondary);
 }

 .btn-secondary.hover-none {
     border: 1px solid transparent;
 }

 .btn-secondary.hover-none:hover,
 .btn-secondary.hover-none:active,
 .btn-secondary.hover-none.btn.show {
     background-color: transparent;
     color: var(--color-default);
     border: 1px solid transparent;
 }

 .btn-secondary.hover-none .dropdown-item.active,
 .btn-secondary.hover-none .dropdown-item:active {
     background-color: var(--color-default) !important;
 }

 .btn-col {
     background-color: var(--color-secondary);
     color: var(--color-default);
     border: 1px solid var(--color-secondary);
     border-radius: 30px;
     font-style: normal;
     font-weight: 400;
     padding: 10px 20px;
 }

 .button-subscribe {
     font-size: 20px;
     position: absolute;
     top: -22px;
 }

 @media(max-width: 768px) {
     .button-subscribe {
         font-size: 14px;
     }
 }

 .button-news-form {
     font-size: 20px;
     position: absolute;
     bottom: -22px;
 }

 .btn-primary-border {
     background-color: transparent;
     padding: 7px 20px;
     color: var(--color-default);
     border: 1px solid var(--color-default);
     border-radius: 30px;
 }

 .btn-primary-border:hover {
     background-color: var(--color-default);
     color: var(--color-white);
 }

 .btn-primary-latest-news {
     background-color: transparent;
     padding: 5px 20px;
     color: var(--color-default);
     right: 90px;
     position: absolute;
 }

 .filter-btn {
     background-color: transparent;
     padding: 5px 20px;
     color: var(--color-default);
     right: 90px;
     position: absolute;
 }

 .btn-primary-related-news {
     background-color: transparent;
     padding: 5px 20px;
     color: var(--color-white);
     right: 90px;
     position: absolute;
     border: 1px solid var(--color-white);
 }

 @media(max-width: 768px) {
     .btn-primary-related-news {
         position: static;
         margin: 20px auto;
         display: block;
     }
 }

 @media(max-width: 992px) {
     .filter-btn {
         margin: 20px auto;
         display: block;
         top: 35px;
     }
 }

 .btn-primary-white-border {
     background-color: transparent;
     padding: 5px 20px;
     color: var(--color-white);
     border-color: 1px solid var(--color-default);
     border-radius: 30px;
 }

 .btn-primary-white-border:hover {
     background-color: var(--color-secondary);
 }

 /* .btn:hover .fa-arrow-right{
    padding-left: 3px;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
} */

 @media(max-width: 992px) {
     .btn-primary-latest-news {
         position: static;
         margin: 20px auto;
         display: block;
     }
 }

 .video-btn {
     background-color: var(--color-default);
     font-size: 14px;
 }

 /*--------------------------------------------------------------
# Multicolor Line
--------------------------------------------------------------*/
 .multicolor-strip .bg-blue {
     background-color: var(--color-primary);
     width: 25%;
 }

 .multicolor-strip .bg-megenta {
     background-color: var(--color-header-6);
     width: 20%;
 }

 .multicolor-strip .bg-pink {
     background-color: var(--color-pink);
     width: 10%;
 }

 .multicolor-strip .bg-yellow {
     background-color: var(--color-secondary);
     width: 30%;
 }

 .multicolor-strip .bg-green {
     background-color: var(--color-header-1);
     width: 15%;
 }

 .multicolor-strip {
     height: 150px;
 }

 @media(max-width: 992px) {
     .multicolor-strip {
         height: 100px;
     }
 }

 .hero-multicolor-banner {
     position: absolute;
     opacity: .9;
     height: 80px;
     bottom: 38px;
     left: 0;
     right: 0;
 }

 /*--------------------------------------------------------------
# Header Search
--------------------------------------------------------------*/
 header .search-form {
     position: absolute;
     background: var(--color-default);
     align-items: center;
     box-shadow: var(--box-shadow);
     top: 100%;
     right: 0%;
     width: 100%;
     transition: color 0.3s ease;
     display: none;
     counter-reset: var(--color-white);
     color: var(--color-white);
 }

 @media (max-width:768px) {
     .header .search-form {
         top: 100%;
         left: 0;
         right: 0;
         border-top: var(--border);
         width: 100%;
         border-radius: 0;
     }
 }

 header .search-form h4 {
     font-style: normal;
     font-weight: 700;
     font-size: 19px;
 }

 header .search-form.active {
     display: block;
 }

 .search-form .search-box-input {
     width: 100%;
     border: 1px solid #4f4f4f;
     padding: 15px;
     font-size: 19px;
     color: var(--color-default);
     height: 100%;
 }

 .search-form label {
     font-size: 2rem;
     padding-left: 1rem;
     padding-right: .5rem;
     cursor: pointer;
     color: var(--color-white);
 }

 header .search-form label:hover {
     color: var(--orange);
 }

 .langauge-change {
     font-size: 11px;
     margin-left: 40px;
     padding: 10px;
     color: var(--color-default);
 }

 @media(max-width: 768px) {
     .langauge-change {
         margin-left: 20px;
     }
 }

 .search-icons {
     padding: 18px;
     background-color: var(--color-default);
     color: var(--color-white);
     margin-left: auto;
 }

 @media(max-width: 992px) {
     .search-icons {
         padding: 18px;
         background-color: var(--color-white);
         color: var(--color-default);
         margin-left: 5px;
     }
 }

 .search-icons:hover {
     background-color: var(--color-secondary);
 }

 .search-icons .fas {
     font-size: 30px;
     cursor: pointer;
     width: 30px;
     text-align: center;
 }

 .search-quick-link {
     width: 90%;
     color: var(--color-white);
 }

 .search-box {
     width: 100%;
     display: flex;
     align-items: center;
     margin-top: 25px;
 }

 @media(min-width: 992px) {
     .search-box {
         width: 90%;
     }

     .search-icons .fas {
         font-size: 32px;
     }

     .search-quick-link {
         width: 80%;
     }

     .search-icons {
         padding: 25px;
     }
 }

 header .search-box {
     width: 90%;
     display: flex;
     align-items: center;
     margin-top: 25px;
 }

 @media(min-width: 992px) {
     header .search-box {
         width: 60%;
     }
 }

 .search-quick-link li {
     margin-bottom: 20px;
     display: flex;
     align-items: center;
 }

 .search-quick-link li i {
     font-size: 22px;
     margin-right: 8px;
 }

 .search-quick-link li:hover i {
     color: var(--color-secondary);
 }

 .search-quick-link li a {
     color: var(--color-white);
     font-style: normal;
     font-weight: 400;
 }

 .search-quick-link li a:hover span {
     text-decoration: underline;
 }

 .search-quick-link li a i {
     font-size: 22px;
     margin-right: 10px;
 }

 .search-quick-link .info-card.news-info .date {
     color: var(--color-white);
 }

 .search-quick-link .info-card.news-info:hover .date {
     color: var(--color-default);
 }

 .gl-search {
     font-size: 2rem;
     padding-left: 1rem;
     padding-right: 0.5rem;
     cursor: pointer;
     color: var(--color-white);
 }

 .gl-search:hover {
     color: var(--color-light-gray);
 }

 /*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/
 .brand-logo {
     height: 24px;
 }

 @media(min-width: 992px) {
     .brand-logo {
         height: 36px;
     }
 }

 .header {
     display: block;
     width: 100%;
     position: relative;
     z-index: 99;
     min-height: 84px;
 }

 @media(max-width: 992px) {
     .header {
         min-height: 67px;
     }
 }

 .header .logo a {
     font-size: 30px;
     color: #000000;
     font-weight: 700;
     text-decoration: none;
 }

 .header .item-center {
     flex: 0 0 66%;
 }

 .header .item-right {
     flex: 0 0 17%;
     display: flex;
     justify-content: flex-end;
 }

 .header .item-right a {
     text-decoration: none;
     font-size: 16px;
     color: #555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
 }

 /*--------------------------------------------------------------
# Menu 
--------------------------------------------------------------*/
 .header .menu>ul>li {
     display: inline-block;
     line-height: 84px;
     margin-left: 30px;
 }

 .header .menu>ul>li>a {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     color: #000000;
     position: relative;
     text-transform: capitalize;
     transition: color 0.3s ease;
     text-decoration: none;
     padding: 10px;
 }

 .header .menu>ul>li>a:hover {
     padding-bottom: 18px;
     border-bottom: 15px solid var(--color-secondary);
 }

 @media(max-width: 991px) {

     .header .menu>ul>li>a:hover {
         border-bottom: 2px solid var(--color-secondary);
     }

     .header .menu>ul>li>a {
         color: var(--color-white);
     }
 }

 .header .menu>ul>li .sub-menu {
     position: absolute;
     z-index: 500;
     margin-top: 25px;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: max-height .2s ease 0s;
     transition: max-height .2s ease 0s;
     -webkit-transition-delay: .3s;
     transition-delay: .3s;
     -webkit-box-shadow: none;
     box-shadow: none;
     background-color: var(--color-default);
 }

 .menu-item-has-children .sub-menu {
     margin-top: 0;
     visibility: hidden;
     opacity: 1;
 }

 .menu-item-has-children .fa-angle-down {
     margin-left: 3px;
     font-size: 20px;
 }

 .sub-menu-show {
     margin-top: 0 !important;
     visibility: visible !important;
     opacity: 1 !important;
 }

 .rotate-arrow {
     transform: rotate(180deg);
 }

 .header .menu>ul>li .sub-menu>ul>li {
     line-height: 1;
     border-bottom: 1px solid var(--color-white);
     padding: 10px;
 }

 .header .menu>ul>li .sub-menu>ul>li>a {
     display: inline-block;
     padding: 10px 0;
     font-size: 15px;
     color: #555555;
     transition: color 0.3s ease;
     text-decoration: none;
     text-transform: capitalize;
 }

 .header .menu>ul>li .single-column-menu {
     min-width: 280px;
     max-width: 350px;
 }

 .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
     line-height: 1;
     display: block;
     color: var(--color-white);
 }

 .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
     padding: 7px 0;
     display: inline-block;
     font-size: 14px;
     color: var(--color-white);
     transition: color 0.3s ease;
     text-decoration: none;
     font-weight: 400;
     line-height: 20px;
 }

 .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover {
     text-decoration: underline;
 }

 .header .menu>ul>li .sub-menu.mega-menu {
     left: 50%;
     transform: translateX(-50%);
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4 {
     /* max-width: 1100px; */
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     padding: 20px 65px 60px 65px;
     min-height: 630px;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
     flex: 0 0 25%;
     padding: 0 15px;
     margin: 15px 0;

 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
     color: var(--color-white);
     font-weight: 700;
     line-height: 1;
     padding: 10px 0;
     border-top: 2px solid white;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title span {
     font-size: 14px;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title svg {
     fill: var(--color-white);
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
     text-align: center;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
     max-width: 100%;
     width: 100%;
     vertical-align: middle;
     margin-top: 10px;
 }

 .list-item .detail-text {
     line-height: 1.5;
     font-weight: 400;
 }

 .mobile-menu-head,
 .mobile-menu-trigger {
     display: none;
 }

 /*responsive*/
 @media(max-width: 991px) {

     .header .menu>ul>li .sub-menu.mega-menu-column-4 {
         padding-left: 5px;
     }

     .header .item-center {
         order: 3;
         flex: 0 0 100%;
     }

     .header .mobile-menu-trigger {
         display: flex;
         height: 30px;
         width: 30px;
         cursor: pointer;
         align-items: center;
         justify-content: center;
         font-size: 27px;
         margin-left: 20px;
     }

     .header .mobile-menu-trigger span {
         display: block;
         height: 2px;
         background-color: #333333;
         width: 24px;
         position: relative;
     }

     .header .mobile-menu-trigger span:before,
     .header .mobile-menu-trigger span:after {
         content: '';
         position: absolute;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #333333;
     }

     .header .mobile-menu-trigger span:before {
         top: -6px;
     }

     .header .mobile-menu-trigger span:after {
         top: 6px;
     }

     .header .item-right {
         align-items: center;
     }

     .header .menu {
         position: fixed;
         width: 100%;
         background-color: var(--color-default);
         left: 0;
         top: 67px;
         height: 100%;
         overflow: hidden;
         transform: translate(-100%);
         transition: all 0.5s ease;
         z-index: 1099;
     }

     .header .menu.active {
         transform: translate(0%);
     }

     .header .menu>ul>li {
         line-height: 1;
         margin: 0;
         display: block;
     }

     .header .menu>ul>li>a {
         line-height: 50px;
         height: 50px;
         padding: 0 50px 0 15px;
         display: block;
         border-bottom: 1px solid #939393;
     }

     .header .menu>ul>li>a i {
         position: absolute;
         height: 50px;
         width: 50px;
         top: 0;
         right: 0;
         text-align: center;
         line-height: 50px;
         transform: rotate(-90deg);
     }

     .header .menu .mobile-menu-head {
         display: flex;
         height: 50px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
         justify-content: space-between;
         align-items: center;
         position: relative;
         z-index: 501;
         position: sticky;
         background-color: var(--color-primary);
         top: 0;
     }

     .header .menu .mobile-menu-head .go-back {
         height: 50px;
         width: 50px;
         border-right: 1px solid rgba(0, 0, 0, 0.4);
         cursor: pointer;
         line-height: 50px;
         text-align: center;
         color: var(--color-white);
         font-size: 16px;
         display: none;
     }

     .header .menu .mobile-menu-head.active .go-back {
         display: block;
     }

     .header .menu .mobile-menu-head .current-menu-title {
         font-size: 15px;
         font-weight: 500;
         color: var(--color-white);
     }

     .header .menu .mobile-menu-head .mobile-menu-close {
         height: 50px;
         width: 50px;
         border-left: 1px solid rgba(0, 0, 0, 0.4);
         cursor: pointer;
         line-height: 50px;
         text-align: center;
         color: var(--color-white);
         font-size: 25px;
         visibility: hidden;
     }

     .header .menu .menu-main {
         height: 100%;
         overflow-x: hidden;
         overflow-y: auto;
     }

     .header .menu>ul>li .sub-menu.mega-menu,
     .header .menu>ul>li .sub-menu {
         visibility: visible;
         opacity: 1;
         position: absolute;
         box-shadow: none;
         margin: 0;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         padding-top: 50px;
         max-width: none;
         min-width: auto;
         display: none;
         transform: translateX(0%);
         overflow-y: auto;
     }

     .header .menu>ul>li .sub-menu.active {
         display: block;
     }

     @keyframes slideLeft {
         0% {
             opacity: 0;
             transform: translateX(100%);
         }

         100% {
             opacity: 1;
             transform: translateX(0%);
         }
     }

     @keyframes slideRight {
         0% {
             opacity: 1;
             transform: translateX(0%);
         }

         100% {
             opacity: 0;
             transform: translateX(100%);
         }
     }

     .menu-overlay {
         position: fixed;
         background-color: rgba(0, 0, 0, 0.5);
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         z-index: 1098;
         visibility: hidden;
         opacity: 0;
         transition: all 0.5s ease;
     }

     .menu-overlay.active {
         visibility: hidden;
         opacity: 1;
     }
 }

 .multicolor-banner {
     position: absolute;
     bottom: 0;
     margin-left: -65px;
 }

 .menu-social-icons {
     text-align: right;
     margin-right: 10px;
     position: absolute;
     bottom: 60px;
     margin-left: -65px;
 }

 .menu-social-icons a i {
     font-size: 24px;
     margin-right: 30px;
 }

 @media (max-width:992px) {

     .multicolor-banner,
     .menu-social-icons {
         display: none;
     }
 }

 .sub-topic {
     margin-right: auto;
     font-size: 14px;
     color: var(--color-white);

 }

 .sub-topic:hover {
     color: var(--color-white);
     text-decoration: underline;
 }

 /*--------------------------------------------------------------
# Main Hero Carousel 
--------------------------------------------------------------*/

 .carousel-indicators button.active {
     height: 13px !important;
     width: 13px !important;
     margin: 0 5px !important;
     border-radius: 100%;
     background-color: white !important;
 }

 .carousel-header-cls {
     font-size: 40px;
     line-height: 54px;
 }

 .carousel-txt-cls {
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;

 }

 .carousel-heroimg-cls {
     background-color: var(--color-default);
     min-height: 490px;
     padding-left: 7.5% !important;
     padding-right: 20px;
 }

 .carousel-heroimg-cls .carousel-indicators {
     display: block;
     margin-left: 4%;
     margin-bottom: 8rem;
 }

 .homepage-carousel-cls .carousel-indicators {
     position: absolute;
     bottom: 50px;
     left: 0;
     display: block;
     z-index: 2;
     padding: 0;
     margin-bottom: 6rem;
     margin-left: 7.5%;
     list-style: none;
 }

 @media(max-width: 768px) {
     .homepage-carousel-cls .carousel-indicators {
         text-align: center;
         margin-left: 0;
         margin-right: 0;
     }

     .carousel-heroimg-cls {
         padding-left: 4%;
     }
 }

 .carousel-findmore-cls {
     font-size: var(--font-size-default);
     line-height: var(--line-height-default);
 }

 .carousel-indicators button {
     height: 13px !important;
     width: 13px !important;
     margin: 0 5px !important;
     border-radius: 100%;
     background-color: #000045 !important;
     border: 1.5px solid white !important;
 }

 .carousel-indicators button:focus {
     outline: 2px solid var(--color-white);
     outline-offset: 2px;
 }

 .hero-image {
     background-position: center;
     height: 100%;
     background-size: cover;
     width: 100%;
 }

 .hero-image-carousel img {
     height: 490px;
     object-fit: cover;
 }

 .hero-image-carousel .carousel-caption {
     padding-top: 0;
 }

 .carousel-btn-position {
     margin-top: 20px;
 }

 @media(max-width: 768px) {
     .carousel-btn-position {
         display: block;
         margin: 40px auto 0 auto;
     }
 }

 /*--------------------------------------------------------------
# Hero Banner 
--------------------------------------------------------------*/
 .hero-banner {
     color: var(--color-default);
     padding: 50px 80px 100px 80px;
 }

 .hero-banner-img {
     height: 100%;
     object-fit: cover;
     max-height: 400px;
 }

 .hero-banner-narrow {
     background-color: var(--color-default);
     color: var(--color-white);
     padding: 60px 10px 50px 10px;
 }

 .hero-banner-full {
     color: var(--color-default);
     padding: 60px 40px 100px 80px;
 }

 @media(max-width: 768px) {
     .hero-banner-full {
         padding: 60px 20px 100px 20px;
     }
 }

 .light-blue-bg h1,
 .light-blue-bg p .megenta-bg h1,
 .megenta-bg p,
 .megenta-bg h1 {
     color: var(--color-white);
 }

 .feedback-block {
     background-color: #e8e7e7;
     padding: 35px;
     text-align: center;
 }

 .feedback-block span {
     font-size: 19px;
 }

 @media(max-width: 992px) {
     .feedback-block span {
         margin-bottom: 25px;
         display: inline-block;
     }
 }

 .recommendation-block {
     background-color: var(--color-default);
     padding: 28px 40px;
     color: var(--color-white);
     margin-top: -80px;
     margin-left: 40px;
     margin-right: 40px;
 }

 .recommendation-block .recommendation-header {
     font-size: 19px;
     font-weight: 700;
 }

 @media(max-width: 992px) {
     .recommendation-block {
         margin-top: -40px;
     }
 }

 @media(max-width: 768px) {
     .hero-banner {
         padding: 35px 20px 50px 20px;
         min-height: 260px;
     }

     .recommendation-block {
         margin-top: -60px;
         margin-left: 25px;
         margin-right: 25px;
     }
 }

 @media(max-width: 391px) {
     .recommendation-block {
         padding: 28px 15px;
     }
 }

 .recommendation-block .recommendation-link {
     display: flex;
     align-items: center;
     margin-bottom: 25px;
 }

 .recommendation-block a {
     color: var(--color-white);
 }

 .recommendation-block a:hover {
     text-decoration: underline;
 }

 .recommendation-block img {
     height: 24px;
 }

 .social-icons-box {
     background-color: white;
     padding: 10px;
     border-radius: 20px;
     width: 195px;
     text-align: center;
 }

 @media(max-width: 992px) {
     .social-icons-box {
         width: 290px;
         margin: 20px 0 0 auto;
     }
 }

 @media(max-width: 576px) {
     .social-icons-box {
         width: 100%;
         margin: 20px 0 0 auto;
     }
 }

 .social-icons-box a {
     padding: 10px 15px;
     display: inline-block;
 }

 .social-icons-box a:hover {
     background-color: var(--color-default);
     color: var(--color-white);
 }

 .social-icons-box a:hover i {
     color: var(--color-white);
 }

 .social-icons-box a i {
     font-size: 22px;
     color: var(--color-default);
 }

 /*--------------------------------------------------------------
# Breadcrumb 
--------------------------------------------------------------*/
 .breadcrumb-position {
     margin-bottom: -37px;
     position: relative;
     width: 85%;
     top: 10px;
     left: 30px;
 }

 .breadcrumb-position a {
     color: var(--color-default);
     text-decoration: underline;
     padding: 5px;
 }

 .breadcrumb-position.text-light a {
     color: var(--color-white);
     text-decoration: underline;
 }

 .breadcrumb-position .breadcrumb {
     margin-left: 10px;
 }

 .breadcrumb-position .breadcrumb .breadcrumb-item {
     font-size: 11px;
 }

 @media(max-width: 992px) {
     .breadcrumb-position {
         left: 10px;
     }
 }

 .breadcrumb-position .breadcrumb-item+.breadcrumb-item::before {
     content: var(--bs-breadcrumb-divider, ">");
     color: var(--color-default);
 }

 .breadcrumb-position.white-color .breadcrumb-item+.breadcrumb-item::before {
     content: var(--bs-breadcrumb-divider, ">");
     color: var(--color-white);
 }

 .breadcrumb-position .breadcrumb-item.active {
     color: var(--color-default);
 }

 .breadcrumb-position.text-light .breadcrumb-item+.breadcrumb-item::before {
     content: var(--bs-breadcrumb-divider, ">");
     color: var(--color-white);
 }

 .breadcrumb-position.text-light .breadcrumb-item.active {
     color: var(--color-white);
 }

 .breadcrumb-position.white-color li a,
 .breadcrumb-position.white-color li.active {
     color: var(--color-white);
 }

 /*--------------------------------------------------------------
# Teaser Card 
--------------------------------------------------------------*/
 .info-card {
     font-style: normal;
     font-weight: 400;
     font-size: 19px;
     min-height: 180px;
     position: relative;
     width: 100%;
     text-align: left;
     padding: 15px;
 }

 .info-card::before {
     content: '';
     display: block;
     height: 1px;
     background-color: var(--color-default);
     position: relative;
     top: -15px;
 }

 .info-card:hover:before {
     background-color: transparent;
 }

 .info-card:hover {
     background-color: var(--color-secondary);
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
 }

 .info-card span.date::before {
     border: 1px solid #333;
     content: "";
     margin: 0 auto;
     position: absolute;
     width: 30px;
     bottom: 50px;
 }

 .icon-arrow-hover,
 .icon-arrow-hover-1 {
     display: none;
 }

 .info-card:hover .icon-arrow-hover,
 .recommendation-link:hover .icon-arrow-hover,
 .title-block-link:hover .icon-arrow-hover,
 .small-icon:hover .icon-arrow-hover-1 {
     display: flex;
 }

 .info-card:hover .icon-arrow,
 .recommendation-link:hover .icon-arrow,
 .title-block-link:hover .icon-arrow,
 .small-icon:hover .icon-arrow-1 {
     display: none;
 }

 .info-card h4 {
     font-size: 19px;
     font-weight: 400;
     padding-right: 10px;
 }

 .info-card .info-card-header {
     font-size: 19px;
     font-weight: 400;
     padding: 2px 10px 2px 0;
     color: var(--color-default);
     line-height: 24px;
 }

 .info-card a {
     color: var(--color-default);
 }

 .info-card:hover .info-card-header {
     text-decoration: underline;
 }

 .info-card p {
     font-style: normal;
     font-size: 14px;
     margin-top: 20px;
     margin-bottom: 18px;
     color: var(--color-default);
 }

 .info-card .card-img-small {
     height: 200px;
     width: 100%;
     object-fit: cover;
     background-color: #D4D4D4;
 }

 .info-card .card-img-large {
     height: 320px;
     width: 100%;
     object-fit: cover;
 }

 .info-card-video {
     background-color: var(--color-primary);
     margin-bottom: 40px;
     border-radius: 0;
     padding: 20px;
 }

 .info-card-video .card-text {
     font-style: normal;
     font-weight: 300;
     font-size: 19px;
     margin: 25px 0;
     color: var(--color-white);
     line-height: 30px;
 }

 .info-card-image {
     background-color: #f3f3f3;
     padding: 20px;
 }

 .info-card-image::before {
     background-color: transparent;
 }

 .info-card ul li {
     margin: 15px 0;
 }

 .info-card ul li a {
     font-size: 14px;
 }

 .info-card ul li a:hover {
     text-decoration: underline;
 }

 .info-card.hover-none:hover {
     background-color: transparent;
 }

 .info-card.hover-none:hover:before {
     background-color: var(--color-default);
 }

 .info-card.news-info a,
 .info-card.news-info .info-card-header {
     margin-bottom: 22px;
     color: var(--color-white);
     font-size: 19px;
 }

 .search-quick-link .info-card.news-info a {
     font-size: 14px;
 }

 .info-card.news-info .date::before {
     border-color: 1px solid var(--color-white);
 }

 .info-card.news-info:hover {
     background-color: var(--color-white);
     color: var(--color-default);
 }

 .info-card.news-info:hover a {
     color: var(--color-default);
 }

 .info-card.news-info:hover::before {
     background-color: transparent;
 }

 .info-card.news-info .date {
     font-size: 14px;
     color: var(--color-default);
 }

 /*************News Center******************/
 .info-card.news-center {
     border-top: none;
     padding: 0;
     margin-bottom: 40px;
 }

 .info-card.news-center .card-img-small {
     height: 150px;
 }

 .info-card.news-center a {
     margin-bottom: 24px;
     color: var(--color-default);
     font-size: 14px;
 }

 .info-card.news-center a:hover {
     text-decoration: underline;
 }

 .info-card.news-center .date {
     font-size: 14px;
 }

 .info-card.news-center:hover {
     background-color: transparent;
     transform: none;
     -webkit-transform: none;
 }

 .info-card.news-center:before {
     background-color: transparent;
 }

 .info-card.news-center span.date::before {
     border-color: 1px solid var(--color-default);
     bottom: 35px
 }

 .banner-detail {
     width: 75%;
 }

 .banner-news-btn {
     margin-left: auto;
 }

 @media(max-width: 768px) {
     .banner-detail {
         width: 100%;
     }

     .banner-news-btn {
         margin: 0 auto;
     }
 }

 .news-social-block {
     display: flex;
     align-content: flex-end;
     justify-content: flex-end;
     flex-wrap: wrap
 }

 .news-social-icons-block {
     display: flex;
 }

 @media(max-width: 992px) {
     .news-social-block {
         display: block;
         text-align: center;
     }

     .news-social-icons-block {
         display: block;
     }

     .news-social-icons-block span {
         margin-bottom: 10px;
         display: inline-block;
     }
 }

 .news-center-form {
     padding: 60px 0;
     position: relative;
 }

 /* .news-center-form .news-center-input {
     border-radius: 0px !important;
     height: 50px !important;
 } */

 .news-badge {
     position: absolute;
     top: -14px;
     left: 14px;
     background-color: var(--color-primary);
     color: var(--color-white);
     font-size: 11px;
     padding: 5px 7px;
 }

 .news-social-icons i {
     color: var(--color-default);
     font-size: 20px;
     margin-left: 30px;
 }

 .bg-expend .info-card:hover:after,
 .bg-expend .info-card:hover:before {
     position: absolute;
     background: var(--color-secondary);
     display: block;
     content: '';
     top: 0;
     height: 100%;
     width: 100%;
     left: 99%;
     border: 1px solid transparent;
 }

 .bg-expend .info-card:hover:before {
     left: auto;
     right: 99%;
 }

 .bg-expend .info-card {
     font-style: normal;
     font-weight: 400;
     font-size: 19px;
     padding: 15px 10px 10px 10px;
     min-height: 180px;
     margin-bottom: 10px;
 }

 .bg-expend .info-card:hover {
     background-color: var(--color-secondary);
     transition: none;
     -webkit-transition: none;
 }

 .bg-expend .info-card:before:hover {
     background-color: transparent;
     height: 1px;
 }

 .bg-expend .info-card::before {
     content: none;
 }

 .bg-expend .info-card .search-result-border {
     border-top: 1px solid var(--color-default);
     position: absolute;
     top: 0;
     width: 98%;
 }

 .bg-expend .info-card:hover .search-result-border {
     border-top: 1px solid transparent;
 }

 /************************End Teaser Card***********************/
 .teaser-3>.col {
     min-width: 33.3333333%;
     margin-bottom: 20px;
 }

 .teaser-2>.col {
     min-width: 50%;
     margin-bottom: 20px;
 }

 @media(max-width: 768px) {

     .teaser-3>.col,
     .teaser-2>.col {
         min-width: 100%;
     }

     .teaser-2>.col {
         margin-top: 10px;
     }

 }

 /*--------------------------------------------------------------
# Step Navigation 
--------------------------------------------------------------*/
 .step-accordion .step-nav-circle {
     box-sizing: border-box;
     position: absolute;
     z-index: 5;
     top: 0;
     left: 0;
     width: 1.875em;
     height: 1.875em;
     color: #0b0c0c;
     background: var(--color-white);
     border-radius: 100px;
     text-align: center
 }


 .step-accordion .step-nav-circle--number {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-size: 16px;
     font-weight: bold;
     line-height: 29px;
     border: solid 1px #b1b4b6
 }

 @media print {
     .step-accordion .step-nav-circle--number {
         font-family: sans-serif
     }
 }

 @media (min-width: 40.0625em) {
     .step-accordion .step-nav-circle--number {
         font-size: 16px;
         line-height: 32px
     }
 }


 .step-accordion .step-nav-circle--logic {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-size: 19px;
     font-weight: bold;
     line-height: 28px;
     left: 3px;
     width: 1.5789473684em;
     height: 1.5789473684em
 }


 .step-accordion .step-nav-circle-inner {
     float: right;
     min-width: 100%
 }

 .step-accordion .step-nav-circle-background {
     text-shadow: 0 -.1em 0 var(--color-white), .1em 0 0 var(--color-white), 0 .1em 0 var(--color-white), -.1em 0 0 var(--color-white);
 }

 .step-accordion .accordion:after {
     content: "";
     position: absolute;
     z-index: 2;
     width: 0;
     height: 100%;
     border-left: solid 1px #b1b4b6;
     background: var(--color-white);
     left: 0;
     margin-left: 0.90625em;
     top: 0;
 }

 .step-accordion .accordion:last-child:before {
     content: "";
     position: absolute;
     z-index: 6;
     bottom: 0;
     left: 0;
     margin-left: 7.5px;
     width: 15px;
     height: 0;
     border-bottom: solid 1px #b1b4b6;
 }

 .step-accordion .accordion-item {
     border-radius: 0 !important;
     border-left: none;
     border-right: none;
 }

 .step-accordion .accordion-item .accordion-button::after {
     background-image: url("../assets/img/web-icons/Accordion expand.svg");
     transform: scale(.7) !important;
     color: #000045;
     background-size: 48px 48px;
     padding: 30px 21px 30px 30px;
 }

 .step-accordion .accordion-item .accordion-button:not(.collapsed)::after {
     background-image: url("../assets/img/web-icons/Accordion contract.svg");
     font-size: 40px;
     color: #000045;
 }

 .step-accordion .accordion-item .accordion-button {
     background: transparent;
     padding: 10px 20px;
     border-radius: 0 !important;
     font-size: 19px;
     color: var(--color-default);
 }

 .step-accordion .accordion-item .accordion-button:not(.collapsed) {
     box-shadow: none;
 }

 .step-accordion .accordion-body {
     text-align: left;
 }

 /**************************************End Step Navigation *************************/
 .blue-bg-expend {
     background-color: var(--color-primary);
     color: var(--color-white);
     padding: 20px;
     position: relative;
 }

 .blue-bg-expend::after {
     position: absolute;
     background-color: var(--color-primary);
     display: block;
     content: '';
     top: 0;
     height: 100%;
     width: 100%;
     left: 99%;
     right: auto;
 }

 /*--------------------------------------------------------------
# Footer 
--------------------------------------------------------------*/
 .footer {
     background-color: var(--color-default);
     font-size: 14px !important;
     line-height: 21px;
 }

 .footer .about-ofcom li {
     font-size: 14px;
     margin-bottom: 14px;
     line-height: 21px;
 }

 .footer .follow {
     margin-bottom: 30px;
     margin-top: 26px;
 }

 .footer .social-icons-list a {
     font-size: 20px;
     margin-right: 10px;
     margin-bottom: 9px;
     padding: 10px 10px 10px 10px;
     display: inline-block;
     margin-left: -10px;

 }

 .footer .social-icons-list a:hover {
     background-color: var(--color-white);
 }

 .footer .social-icons-list a i {
     background-color: transparent;
     color: var(--color-white);
 }

 .footer .social-icons-list a:hover i {
     color: var(--color-default);
 }

 .footer .about-ofcom a:hover {
     text-decoration: underline;
 }

 /* .footer .social-icons-list a:focus {
    background-color: var(--color-white);
    color: var(--color-default);
 }
 .footer .social-icons-list a:focus i{
    background-color: var(--color-default);
 } */
 .copyrights {
     margin-top: -25px;
 }

 @media screen and (min-width: 576px) and (max-width: 992px) {
     .footer section.social {
         border-bottom: 1px solid white;
         margin-top: 30px !important;
     }

     .footer section.social h6 {
         float: left;
         margin-right: 20px;
     }

     .footer section i {
         margin-right: 40px;
         text-align: center;

     }

     .footer .follow {
         margin-bottom: 30px;
         margin-top: 0px;
     }

     .footer .about-ofcom li {
         margin-bottom: 14px;
     }

     .social .social-icons {
         justify-content: center;
     }

     .footer .social-icons-list a i {
         margin: 0 10px;
     }
 }

 /* For Mobile Portrait View */
 @media screen and (max-width: 480px) and (min-width:320px) {

     .footer section {
         border-bottom: 1px solid rgba(255, 255, 255, 0.25);
     }

     .copyrights {
         margin-top: 10px;
     }

     .footer section i {
         margin-right: 20px;
     }

     .footer .follow {
         margin-bottom: 30px;
         margin-top: 25px;
     }

     .footer .copyrights {
         margin-top: 25px;
     }

     .footer .social-icons-list a i {
         margin: 0 5px;

     }

     .footer .social .social-icons {
         text-align: center;

         justify-content: center;
     }

     .footer .social h6 {
         margin-top: 30px !important;
     }
 }

 /*--------------------------------------------------------------
# Swiper
--------------------------------------------------------------*/

 .swiper {
     width: 100%;
     height: 100%;
 }

 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .swiper-outer {
     margin-left: 90px;
 }

 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--color-default);
 }

 .mySwiper {
     width: 100%;
     height: 100%;
     padding: 15px 75px 60px 15px;
 }

 @media(max-width: 768px) {
     .swiper-outer {
         margin-left: 30px;
     }

     .mySwiper {
         padding: 15px 45px 50px 15px;
     }
 }

 @media(max-width: 992px) {
     .mySwiper {
         padding-left: 0;
     }
 }

 .mySwiper .swiper-pagination-bullet {
     width: 15px;
     height: 15px;
 }

 .mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
     margin: 0 7px;
 }

 /******************* Latest News Home Page ******************************/
 .latest-news-swiper-container-area {
     padding-top: 3rem;
     padding-bottom: 2rem;
 }

 .latest-news-swiper .swiper-pagination-bullet {
     border: 1px solid var(--color-default);
     opacity: 1;
     background: transparent;
 }

 .latest-news-swiper .swiper-pagination-bullet-active {
     background: var(--color-default);
 }

 .latest-news-swiper .info-card:hover {
     background-color: var(--color-white);
 }

 .latest-news-swiper .info-card::before {
     background-color: transparent;
 }

 .latest-news-swiper .info-card a,
 .latest-news-swiper .info-card .info-card-header {
     color: var(--color-default) !important;
     font-size: 19px !important;
 }

 /******************* Related News Home Page ******************************/
 .related-news-swiper-container-area {
     padding-top: 3rem;
     padding-bottom: 5rem;
 }

 .related-news-swiper .info-card.news-info .date,
 .related-news-swiper .info-card.news-info .date::before {
     border-color: var(--color-white);
     color: var(--color-white);
 }

 .related-news-swiper .info-card.news-info:hover .date,
 .related-news-swiper .info-card.news-info:hover span.date::before {
     border-color: var(--color-default);
     color: var(--color-default);
 }

 .related-news-swiper .swiper-pagination-bullet {
     border: 1px solid var(--color-white);
     opacity: 1;
     background: transparent;
 }

 .related-news-swiper .swiper-pagination-bullet-active {
     background: var(--color-white);
 }

 /*--------------------------------------------------------------
# Accordion 
--------------------------------------------------------------*/
 .destination-accordian .accordion-button::after {
     background-image: url("../assets/img/web-icons/Accordion expand.svg");
     transform: scale(.7) !important;
     color: #000045;
     background-size: 48px 48px;
     padding: 30px 21px 30px 30px;
 }

 .destination-accordian .accordion-button:not(.collapsed)::after {
     background-image: url("../assets/img/web-icons/Accordion contract.svg");
     font-size: 40px;
     color: #000045;
 }

 .destination-accordian {
     border: none !important;
     border-radius: 0px !important;
     border-top: 1px solid #000045 !important;
 }

 .destination-accordian .accordion-button {
     padding: 15px 0;
     font-size: 19px;
 }

 .destination-accordian:last-child {
     border-bottom: 1px solid #000045 !important;
 }

 .destination-accordian h2 {
     font-size: 19px;
     font-weight: 400;
     line-height: 28px;
     color: #000045;
 }

 .destination-accordian p {
     font-family: Sora;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     color: #000045;
     padding-bottom: 40px;
     width: 85%;
 }

 .destination-accordian .accordion-button:not(.collapsed) {
     color: #000045 !important;
     background-color: #F2F2F2 !important;
     box-shadow: none !important;
 }

 .destination-accordian .card-body {
     color: #000045 !important;
     background-color: #F2F2F2 !important;
     box-shadow: none !important;
 }

 .destination-accordian .accordion-button:focus {
     box-shadow: none;
 }

 .destination-accordian {
     position: relative;
 }

 .destination-accordian .accordion-collapse.show::after {
     position: absolute;
     background-color: #F2F2F2;
     display: block;
     content: '';
     top: 0;
     height: 100%;
     width: 100%;
     left: 100%;
     right: auto;
 }

 .destination-accordian .accordion-collapse.show::before {
     position: absolute;
     background-color: #F2F2F2;
     display: block;
     content: '';
     top: 0;
     height: 100%;
     width: 100%;
     left: auto;
     right: 100%;
 }

 .quote-text {
     font-size: 19px;
     line-height: 28px;
 }

 .close-bars:before {
     display: none
 }

 /*--------------------------------------------------------------
# News Carousal
--------------------------------------------------------------*/
 .topics {
     background-color: #F2F2F2;
 }

 .topics-btn {
     font-size: 11px;
     font-weight: 400;
     line-height: 17px;
     background-color: #5000F2;
     color: #FFFFFF;
     font-family: var(--font-family-default);
     border: 1px solid #5000F2;
     padding: 7px 5px 3px 5px;
     margin-bottom: 20px;
 }

 .topics-txt {
     font-family: var(--font-family-default);
     font-size: 32px;
     font-weight: 400;
     line-height: 43px;
     color: var(--color-default);
     margin-bottom: 10px;
 }

 .topics-date {
     font-family: var(--font-family-default);
     font-size: var(--font-size-default);
     font-weight: 400;
     line-height: var(--line-height-default);
     color: var(--color-default);
 }

 .topic-header {
     font-family: var(--font-family-default);
     font-size: 32px;
     font-weight: 700;
     line-height: 43px;
     color: var(--color-default);
 }

 .topic-hr-line {
     border-bottom: 1px solid var(--color-default);
     width: 30px;
     margin-bottom: 20px;
 }

 #topics-carousel .hero-image-carousel img {
     height: 300px;
     object-fit: cover;
 }

 #topics-carousel .carousel-control-prev-icon,
 #topics-carousel .carousel-control-next-icon {
     background-image: none;
     width: 35px;
     height: 35px;
     border: 1px solid #000045;
     border-radius: 50%;
 }

 #topics-carousel .fa-chevron-right,
 #topics-carousel .fa-chevron-left {
     color: #000045;
     font-size: 22px;
     margin-top: 7px;
 }

 #topics-carousel .carousel-control-next,
 #topics-carousel .carousel-control-prev {
     width: 9%;
 }

 #topics-carousel .carousel-control-prev {
     top: 100px;
 }

 #topics-carousel .carousel-control-next {
     top: 100px;
     left: 55px;
 }

 @media screen and (min-width: 320px) and (max-width: 575px) {
     #topics-carousel .carousel-control-prev {
         top: 90%;
         left: 15px;
     }

     #topics-carousel .carousel-control-next {
         top: 90%;
         left: 60px;
     }
 }

 @media screen and (min-width: 575px) and (max-width: 992px) {
     #topics-carousel .carousel-control-prev {
         top: 80%;
         left: 25px;
     }

     #topics-carousel .carousel-control-next {
         top: 80%;
         left: 80px;
     }
 }

 /*--------------------------------------------------------------
# PDF Download
--------------------------------------------------------------*/
 .pdfdownload {
     background-color: #F2F2F2;
     font-family: var(--font-family-default);
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     color: var(--color-default);
 }

 .pdfdownload a {
     color: var(--color-default);
     cursor: pointer;
 }

 .pdfdownload img {
     width: 19px;
 }

 .pdfdownload:hover {
     background-color: var(--color-secondary);
 }


 /*--------------------------------------------------------------
# Search Results
--------------------------------------------------------------*/
 .serch-result-image {
     height: 140px;
     object-fit: cover;
     width: 100%;
 }

 .serach-date {
     font-size: 14px;
     margin: 10px 0;
 }

 .serach-date span {
     color: var(--color-default);
 }

 /*--------------------------------------------------------------
# Callout
--------------------------------------------------------------*/
 .callout-light {
     text-align: center;
     padding: 20px 20px;
     border-bottom: 1px solid black;
 }

 .callout-light p {
     font-size: 14px;
     margin: 20px 0;
 }

 .callout-light h1 {
     color: var(--color-header-6);
     min-height: 50px;
 }

 .callout-light.callout-large {
     border-top: 1px solid black;
 }

 .callout-light.callout-large .counter {
     font-size: 128px;
     line-height: 100%;
 }

 .col-4:nth-child(1) .callout-light,
 .col-4:nth-child(2) .callout-light,
 .col-4:nth-child(3) .callout-light {
     border-top: 1px solid black;
 }

 .callout-fill {
     text-align: center;
     padding: 20px 20px;
     border-bottom: 1px solid var(--color-white);
     border-right: 1px solid var(--color-white);
 }

 .callout-fill p {
     font-size: 14px;
     margin: 20px 0;
     color: var(--color-white);
 }

 .callout-fill h1 {
     color: var(--color-white);
     min-height: 50px;
 }

 .col-4:nth-child(1) .callout-fill,
 .col-4:nth-child(2) .callout-fill,
 .col-4:nth-child(3) .callout-fill {
     border-top: 1px solid var(--color-white);
 }

 /*--------------------------------------------------------------
# Title Block
--------------------------------------------------------------*/
 .title-block .title-block-img {
     width: 100%;
     min-height: 340px;
     object-fit: cover;
 }

 .title-block .card-body {
     position: relative;
     padding-left: 40px;
     padding-right: 40px;
     height: 100%;
     display: flex;
     align-items: center;
 }

 .title-block .card-body h3 {
     font-style: normal;
     font-weight: 400;
     font-size: 32px;
     line-height: 135%;
 }

 .title-block .card-body.gray-bg .hr-line {
     border-bottom: 1px solid var(--color-default);
     width: 30px;
     margin: 20px 0;
 }

 .title-block .card-body.light-blue-bg .hr-line,
 .title-block .card-body.blue-bg .hr-line {
     border-bottom: 1px solid var(--color-white);
     width: 30px;
     margin: 20px 0;
 }

 .title-block .gray-bg h3,
 .title-block .gray-bg p {
     color: var(--color-default);
 }

 .title-block .light-blue-bg h3,
 .title-block .light-blue-bg p,
 .title-block .blue-bg h3,
 .title-block .blue-bg p {
     color: var(--color-white);
 }

 /*--------------------------------------------------------------
# Image carouse
--------------------------------------------------------------*/
 #carousel-count .carousel-item img {
     width: 100%;
     height: 438px;
     object-fit: cover;
 }

 #carousel-count .img-caption,
 #carousel-count .carouselnumber {
     font-family: Sora;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
 }

 #carousel-count .carousel-control-prev-icon,
 #carousel-count .carousel-control-next-icon {
     background-image: none;
     width: 35px;
     height: 35px;
     border: 1px solid #000045;
     border-radius: 50%;
     color: #000045;

 }

 #carousel-count .fa-chevron-right,
 #carousel-count .fa-chevron-left {
     color: #000045;
     font-size: 22px;
     margin-top: 7px;
 }

 #carousel-count .carousel-control-next,
 #carousel-count .carousel-control-prev {
     width: 18%;
 }

 #carousel-count .carousel-control-next {
     margin-right: -15%;
 }

 #carousel-count .carousel-control-prev {
     margin-left: -15%;
 }

 #carousel-count {
     margin-left: 16%;
     margin-right: 16%;
 }

 /*--------------------------------------------------------------
#  Showfilters
--------------------------------------------------------------*/

 .filters-content button {
     background-color: var(--color-default);
     color: #FFFFFF;
     font-family: var(--font-family-default);
     font-size: 14px;
     font-weight: 400;
     line-height: 19px;
     padding: 10px 20px;
     border: 1px solid #000045;
 }

 .showfilters button {
     background-color: #FFFFFF;
     color: #000045;
     font-family: var(--font-family-default);
     font-size: 14px;
     font-weight: 400;
     line-height: 19px;
     padding: 10px 20px;
     border: 1px solid #000045;
     margin-top: 20px;
     margin-bottom: 40px;
 }

 .showfilters button svg {
     transform: rotate(180deg);
 }

 .showfilters {
     position: absolute !important;
     z-index: 9999;
     overflow-x: visible !important;
     overflow-y: visible !important;
     padding-right: 0px !important;
     top: -28px;

 }

 .showfilters {
     --bs-modal-width: 100%;
 }

 .modal-topic-list li a {
     font-family: var(--font-family-default);
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
 }

 .modal-topic-list li {
     cursor: pointer;
     margin-bottom: 10px;
 }

 .modal.show .modal-dialog {
     transform: none;
     margin-right: -8px;
 }

 .close-clear-btn button {
     background-color: var(--color-default);
     font-family: var(--font-family-default);
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     padding: 10px 20px;
 }

 .close-li-icon {
     visibility: hidden;

 }

 .modal-topic-list li i {
     color: white;
     font-size: 21px;
     position: relative;
     top: 5px;
 }

 .showfilters .modal-content {
     border-radius: 0px !important;
     background-color: var(--color-default);
 }

 @media screen and (min-width: 575px) {
     .modal-content-details {
         border-left: 1px solid rgba(255, 255, 255, 0.5);
     }

     div.modal-content-details:last-child {
         border-right: 1px solid rgba(255, 255, 255, 0.5);
     }

 }

 @media screen and (min-width: 992px) {

     .showfilters .modal-content {
         padding-left: 12%;
         padding-right: 12%;
     }
 }

 .overflow-x-hidden {
     overflow-x: hidden !important;
     overflow-y: auto !important;

 }

 .showfilters-align {
     margin-bottom: 80px;
 }

 /* show filters style ends here */
 .filter-btn .dropdown-toggle::after {
     display: none;
 }

 /*--------------------------------------------------------------
#  Logo list
--------------------------------------------------------------*/
 .logo-list {
     text-align: center;
 }

 .logo-list span {
     padding: 20px;
     display: inline-block;
 }

 .logo-list img {
     max-height: 100px;
     max-width: 200px;
 }

 /*--------------------------------------------------------------
#  Dynamic Tabs
--------------------------------------------------------------*/
 .dynamictabs .nav-tabs {
     border: none !important;
 }

 .dynamictabs .nav-tabs .nav-item a {
     font-family: var(--font-family-default);
     font-size: var(--font-size-default);
     font-weight: 400;
     line-height: var(--line-height-default);
     color: var(--color-default);
     padding: 10px, 28px, 10px, 28px;
 }

 .dynamictabs .nav-tabs .nav-item a:hover {

     background-color: #D9D9D9;
 }

 .dynamictabs .nav-tabs .nav-item .active {
     border: none;
     color: #5000F2;
     border-bottom: 2px solid #5000F2;
 }

 .dynamictabs .tab-content {
     background-color: #D9D9D9;

 }

 .dynamictabs .tab-pane {
     font-family: var(--font-family-default);
     font-size: var(--font-size-default);
     font-weight: 400;
     line-height: var(--line-height-default);
     color: var(--color-default);
 }

 @media screen and (min-width: 992px) {
     .dynamictabs .tab-content {

         padding: 60px 110px;
     }
 }

 @media screen and (min-width: 320px) and (max-width: 991px) {
     .dynamictabs .tab-content {

         padding: 20px 30px;
     }
 }

 /*--------------------------------------------------------------
#  Membership panel
--------------------------------------------------------------*/
 .membership-panel {
     padding: 60px 100px;
 }

 .membership-panel hr {
     margin-top: 0;
     margin-bottom: 20px;
 }

 @media(max-width: 991px) {
     .membership-panel {
         padding: 20px;
     }

     .membership-panel hr {
         margin-top: 20px;
     }
 }

 .membership-panel hr {
     border-top: 1px solid var(--color-default) !important;
 }

 .bullet-list ul {
     list-style: disc;
     margin-left: 17px;
 }


 .form-container {
     padding: 60px 100px;
 }

 @media(max-width: 768px) {
     .form-container {
         padding: 20px;
     }
 }

 .form-error .form-label,
 .form-error .form-control,
 .form-error .form-text {
     color: red;
 }

 .form-error .form-control {
     border-color: red;
 }