 @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

 /* Colors */
 :root {
     /* Most text and often a background colour (eg menus, footer, page headers) */
     --color-default: #000045;
     /* Used as a general highlight/background colour, for hyperlinks and an option for page headers */
     --color-primary: #5000F2;
     /* Often used for hoverstates as well as a colour option for page headers */
     --color-secondary: #FF8A00;
     /* Page headers 1*/
     --color-header-1: #36C280;
     /* Page headers 2*/
     --color-header-2: #FFF057;
     /* Page headers 3*/
     --color-pink: #FF38D1;
     /* Page headers 4*/
     --color-header-4: #E30052;
     /* Page headers 5*/
     --color-header-5: #8F0057;
     /* Page headers 6*/
     --color-header-6: #C400ED;
     /* Page White colour*/
     --color-white: #FFFFFF;
     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     --font-family-default: 'Sora', sans-serif;
 }

 /* Smooth scroll behavior */
 :root {
     scroll-behavior: smooth;
 }

 /*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
 body {
     color: var(--color-default);
     font-family: var(--font-family-default);
     font-weight: 500;
     font-size: 14px;
     line-height: 150%;
     letter-spacing: -1%;
     overflow-x: hidden;
 }

 a {
     color: var(--color-primary);
     text-decoration: none;
 }

 a:hover {
     color: var(--color-default);
 }

 /* a:visited {
    color: var(--color-pink);
} */
 /* Used for: Landing page titles */
 h1 {
     font-size: 40px;
     line-height: 135%;
     letter-spacing: -1%;
     font-weight: 700;
 }

 /* Used for: Homepage carousel, destination page titles */
 h2 {
     font-size: 40px;
     line-height: 135%;
     letter-spacing: -1%;
     font-weight: 500;
 }

 /* Used for: Page subtitles */
 h3 {
     font-size: 32px;
     line-height: 135%;
     letter-spacing: -1%;
 }

 /* Used for: Card titles, pull quotes etc */
 h4 {
     font-size: 19px;
     line-height: 145%;
     letter-spacing: -1%;
 }
 @media(max-width: 991px) {
    h1 {
        font-size: 29px;
    }
}
 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .v-center {
     align-items: center;
 }

 .f-size-xl {
     font-size: 32px;
 }

 .btn-primary {
     background-color: var(--color-default);
     color: var(--color-white);
     border: 1px solid var(--color-default) !important;
 }

 .btn-primary:hover {
     background-color: var(--color-white);
     color: var(--color-default);
     border: 1px solid var(--color-default) !important;
     -webkit-transition: all .3s linear 0s;
     transition: all .3s linear 0s;
 }

 /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
 header .search-form {
     position: absolute;
     background: var(--color-default);
     align-items: center;
     box-shadow: var(--box-shadow);
     top: 100%;
     right: 0%;
     width: 100%;
     transition: color 0.3s ease;
     display: none;
     counter-reset: var(--color-white);
     color: var(--color-white);
 }

 header .search-form h4 {
     font-style: normal;
     font-weight: 700;
     font-size: 19px;
 }

 header .search-form.active {
     display: block;
 }

 header .search-form #search-box {
     width: 100%;
     border: 1px solid #4f4f4f;
     padding: 15px;
     font-size: 19px;
     color: var(--black);
     height: 100%;
 }

 header .search-form label {
     font-size: 2rem;
     padding-left: .5rem;
     padding-right: 1rem;
     cursor: pointer;
     color: var(--color-white);
 }

 header .search-form label:hover {
     color: var(--orange);
 }

 .langauge-change {
     font-size: 11px;
 }

 .search-icons {
     padding: 18px;
     background-color: var(--color-default);
     color: white;
 }

 .search-icons:hover {
     background-color: var(--color-secondary);
 }

 .search-icons .fas {
     font-size: 30px;
     cursor: pointer;
     width: 30px;
     text-align: center;
 }

 .search-quick-link {
     width: 90%;
 }

 .search-box {
     width: 90%;
     display: flex;
     align-items: center;
     margin-top: 25px;
 }

 .search-quick-link {
     color: var(--color-white);
 }

 @media(min-width: 992px) {
     .search-box {
         width: 60%;
     }

     .search-quick-link {
         width: 80%;
     }

     .search-icons {
         padding: 30px;
     }
 }

 .search-quick-link li {
     margin-bottom: 20px;
 }

 .search-quick-link li a {
     color: var(--color-white);
     display: flex;
     align-items: center;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
 }

 .search-quick-link li a i {
     font-size: 22px;
     margin-right: 10px;
 }

 .brand-logo {
     height: 24px;
 }

 @media(min-width: 992px) {
     .brand-logo {
         height: 36px;
     }
 }

 .header {
     display: block;
     width: 100%;
     position: relative;
     z-index: 99;
 }

 .header .logo a {
     font-size: 30px;
     color: #000000;
     font-weight: 700;
     text-decoration: none;
 }

 .header .item-center {
     flex: 0 0 66%;
 }

 .header .item-right {
     flex: 0 0 17%;
     display: flex;
     justify-content: flex-end;
 }

 .header .item-right a {
     text-decoration: none;
     font-size: 16px;
     color: #555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
 }

 .header .menu>ul>li {
     display: inline-block;
     line-height: 80px;
     margin-left: 60px;
 }

 .header .menu>ul>li>a {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     color: #000000;
     position: relative;
     text-transform: capitalize;
     transition: color 0.3s ease;
     text-decoration: none;
 }

 .header .menu>ul>li>a:hover {
     padding-bottom: 21px;
     border-bottom: 10px solid var(--color-secondary);
 }

 @media(max-width: 991px) {
     .header .menu>ul>li>a {
         color: var(--color-white);
     }
 }

 .header .menu>ul>li .sub-menu {
     position: absolute;
     z-index: 500;
     margin-top: 25px;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: max-height .2s ease 0s;
     transition: max-height .2s ease 0s;
     -webkit-transition-delay: .3s;
     transition-delay: .3s;
     -webkit-box-shadow: none;
     box-shadow: none;
     background-color: var(--color-default);
 }

 @media(min-width: 992px) {

     /* .header .menu>ul>li.menu-item-has-children.mystyle .sub-menu { */
     .header .menu>ul>li.menu-item-has-children:hover .sub-menu {
         margin-top: 0;
         visibility: visible;
         opacity: 1;
     }
 }

 .header .menu>ul>li .sub-menu>ul>li {
     line-height: 1;
     border-bottom: 1px solid var(--color-white);
     padding: 10px;
 }

 .header .menu>ul>li .sub-menu>ul>li>a {
     display: inline-block;
     padding: 10px 0;
     font-size: 15px;
     color: #555555;
     transition: color 0.3s ease;
     text-decoration: none;
     text-transform: capitalize;
 }

 .header .menu>ul>li .single-column-menu {
     min-width: 280px;
     max-width: 350px;
 }

 .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
     line-height: 1;
     display: block;
     color: var(--color-white);
 }

 .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
     padding: 10px 0;
     display: inline-block;
     font-size: 14px;
     color: var(--color-white);
     transition: color 0.3s ease;
     text-decoration: none;
     font-weight: 400;
 }

 .header .menu>ul>li .sub-menu.mega-menu {
     left: 50%;
     transform: translateX(-50%);
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4 {
     /* max-width: 1100px; */
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     padding: 20px 0 60px 0;
     -webkit-transition: all .3s linear 0s;
     transition: all .3s linear 0s;
     min-height: 78vh;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
     flex: 0 0 25%;
     padding: 0 15px;
     margin: 15px 0;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
     color: var(--color-white);
     font-weight: 600;
     line-height: 1;
     padding: 10px 0;
     border-top: 2px solid white;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title span {
     font-size: 14px;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title svg {
     fill: var(--color-white);
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
     text-align: center;
 }

 .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
     max-width: 100%;
     width: 100%;
     vertical-align: middle;
     margin-top: 10px;
 }

 /* .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
 .header .menu > ul > li .sub-menu > ul > li > a:hover,
 .header .item-right a:hover,
 .header .menu > ul > li:hover > a{
     color:#ea4636;
 } */
 .mobile-menu-head,
 .mobile-menu-trigger {
     display: none;
 }

 /*responsive*/
 @media(max-width: 991px) {

     .header .item-center {
         order: 3;
         flex: 0 0 100%;
     }

     .v-center {
         justify-content: space-between;
     }

     .header .mobile-menu-trigger {
         display: flex;
         height: 30px;
         width: 30px;
         cursor: pointer;
         align-items: center;
         justify-content: center;
         font-size: 27px;
         margin-left: 20px;
     }

     .header .mobile-menu-trigger span {
         display: block;
         height: 2px;
         background-color: #333333;
         width: 24px;
         position: relative;
     }

     .header .mobile-menu-trigger span:before,
     .header .mobile-menu-trigger span:after {
         content: '';
         position: absolute;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #333333;
     }

     .header .mobile-menu-trigger span:before {
         top: -6px;
     }

     .header .mobile-menu-trigger span:after {
         top: 6px;
     }

     .header .item-right {
         align-items: center;
     }

     .header .menu {
         position: fixed;
         width: 100%;
         background-color: var(--color-default);
         left: 0;
         top: 0;
         height: 100%;
         overflow: hidden;
         transform: translate(-100%);
         transition: all 0.5s ease;
         z-index: 1099;
     }

     .header .menu.active {
         transform: translate(0%);
     }

     .header .menu>ul>li {
         line-height: 1;
         margin: 0;
         display: block;
     }

     .header .menu>ul>li>a {
         line-height: 50px;
         height: 50px;
         padding: 0 50px 0 15px;
         display: block;
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
     }

     .header .menu>ul>li>a i {
         position: absolute;
         height: 50px;
         width: 50px;
         top: 0;
         right: 0;
         text-align: center;
         line-height: 50px;
         transform: rotate(-90deg);
     }

     .header .menu .mobile-menu-head {
         display: flex;
         height: 50px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
         justify-content: space-between;
         align-items: center;
         position: relative;
         z-index: 501;
         position: sticky;
         background-color: var(--color-primary);
         top: 0;
     }

     .header .menu .mobile-menu-head .go-back {
         height: 50px;
         width: 50px;
         border-right: 1px solid rgba(0, 0, 0, 0.4);
         cursor: pointer;
         line-height: 50px;
         text-align: center;
         color: var(--color-white);
         font-size: 16px;
         display: none;
     }

     .header .menu .mobile-menu-head.active .go-back {
         display: block;
     }

     .header .menu .mobile-menu-head .current-menu-title {
         font-size: 15px;
         font-weight: 500;
         color: var(--color-white);
     }

     .header .menu .mobile-menu-head .mobile-menu-close {
         height: 50px;
         width: 50px;
         border-left: 1px solid rgba(0, 0, 0, 0.4);
         cursor: pointer;
         line-height: 50px;
         text-align: center;
         color: var(--color-white);
         font-size: 25px;
     }

     .header .menu .menu-main {
         height: 100%;
         overflow-x: hidden;
         overflow-y: auto;
     }

     .header .menu>ul>li .sub-menu.mega-menu,
     .header .menu>ul>li .sub-menu {
         visibility: visible;
         opacity: 1;
         position: absolute;
         box-shadow: none;
         margin: 0;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         padding-top: 50px;
         max-width: none;
         min-width: auto;
         display: none;
         transform: translateX(0%);
         overflow-y: auto;
     }

     .header .menu>ul>li .sub-menu.active {
         display: block;
     }

     @keyframes slideLeft {
         0% {
             opacity: 0;
             transform: translateX(100%);
         }

         100% {
             opacity: 1;
             transform: translateX(0%);
         }
     }

     @keyframes slideRight {
         0% {
             opacity: 1;
             transform: translateX(0%);
         }

         100% {
             opacity: 0;
             transform: translateX(100%);
         }
     }

     .menu-overlay {
         position: fixed;
         background-color: rgba(0, 0, 0, 0.5);
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         z-index: 1098;
         visibility: hidden;
         opacity: 0;
         transition: all 0.5s ease;
     }

     .menu-overlay.active {
         visibility: visible;
         opacity: 1;
     }
 }


 /* search */
 @media (max-width:768px) {
     .header .search-form {
         top: 100%;
         left: 0;
         right: 0;
         border-top: var(--border);
         width: 100%;
         border-radius: 0;
     }
 }

 /* carousel */
 .carousel-indicators button.active {
     height: 13px !important;
     width: 13px !important;
     margin: 0 5px !important;
     border-radius: 100%;
     background-color: white !important;
 }

 .carousel-header-cls {
     font-size: 40px;
     line-height: 54px;
 }

 .carousel-txt-cls {
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;

 }

 .carousel-heroimg-cls {
     background-color: var(--color-default);
 }

 .carousel-heroimg-cls .carousel-indicators {
     display: block;
     margin-left: 4%;
     margin-bottom: 8rem;
 }

 .homepage-carousel-cls .carousel-indicators {
     position: absolute;
     bottom: 0px;
     left: 0;
     display: block;
     z-index: 2;
     padding: 0;
     margin-bottom: 7rem;
     margin-left: 4%;
     list-style: none;
 }

 .carousel-findmore-cls {
     font-size: var(--font-size-default);
     line-height: var(--line-height-default);
 }

 .carousel-heroimg-cls {
     background-color: var(--color-default);
 }

 .carousel-indicators button {
     height: 13px !important;
     width: 13px !important;
     margin: 0 5px !important;
     border-radius: 100%;
     background-color: #000045 !important;
     border: 1.5px solid white !important;
 }

 .hero-image {
     background-position: center;
     height: 100%;
     background-size: cover;
     width: 100%;
 }

.hero-image-carousel img{
    height: 450px;
    object-fit: cover;
}
.hero-image-carousel .carousel-caption{
    padding-top: 0  ;
 }
 /*********************Hero Banner**************************/
 .hero-banner{
    background-color: var(--color-pink);
    color: var(--color-default);
    padding: 50px 20px 0 80px;
 }
 .recommendation-block{
    background-color: var(--color-default);
    padding: 28px 40px;
    color: var(--color-white);
    margin-top: -60px;
    margin-left: 40px;
 }
 @media(max-width: 768px) {
    .hero-banner{
        padding: 20px 20px 50px 20px;
     }
     .recommendation-block{
        margin-top: -40px;
     }
}
 .recommendation-block .recommendation-link{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
 }
 .recommendation-block a{
    color: var(--color-white);
 }
 .recommendation-block img{
    height: 24px;
 }
 /*********************End Hero Banner**************************/
 /***********************************************/
 .info-card {
     font-style: normal;
     font-weight: 400;
     font-size: 19px;
     border-top: 1px solid black;
     padding: 15px 0 10px 0;
     min-height: 180px;
     position: relative;
 }

 .info-card span.date::before {
     border: 1px solid #333;
     content: "";
     margin: 0 auto;
     position: absolute;
     width: 12%;
     bottom: 50px;
 }

 .bg-all .info-card:hover:after,
 .bg-all .info-card:hover:before {
     position: absolute;
     background: var(--color-secondary);
     display: block;
     content: '';
     top: 0;
     height: 100%;
     width: 100%;
     left: 99%;
     transform: scale(1, 1);
     -webkit-transform: scale(1, 1);
     transition: all 0.8s ease-in-out;
     -webkit-transition: all 0.8s ease-in-out;
 }

 .bg-all .info-card:hover:before {
     left: auto;
     right: 99%;
 }

 .bg-all .info-card {
     font-style: normal;
     font-weight: 400;
     font-size: 19px;
     border-top: 1px solid black;
     padding: 15px 10px 10px 10px;
     min-height: 180px;
     margin-bottom: 10px;
 }

 .info-card:hover {
     background-color: var(--color-secondary);
     padding: 15px;
     transform: scale(1.05, 1.05);
     -webkit-transform: scale(1.05, 1.05);
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     border-top: none;
 }

 .icon-arrow-hover {
     display: none;
 }

 .info-card:hover .icon-arrow-hover,
 .card-body .info-card:hover .icon-arrow-hover {
     display: flex;
 }

 .info-card:hover .icon-arrow,
 .card-body .info-card:hover .icon-arrow {
     display: none;
 }

 .card-body .info-card:hover {
     background-color: transparent;
     padding: 15px 0 10px 0;
     transform: scale(1, 1);
     -webkit-transform: scale(1, 1);
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     border-top: 1px solid black;
 }

 .info-card h4 {
     font-size: 19px;
     font-weight: 400;
     padding-right: 10px;
 }

 .info-card:hover h4 {
     text-decoration: underline;
 }

 .info-card p {
     font-style: normal;
     font-size: 14px;
     margin-top: 20px;
     margin-bottom: 40px;
 }

 .info-card-video {
     background-color: var(--color-primary);
     margin-bottom: 40px;
 }

 .info-card-video .card-text {
     font-style: normal;
     font-weight: 300;
     font-size: 19px;
     margin: 25px 0;
     color: var(--color-white);
     line-height: 30px;
 }

 .info-card-image {
     background-color: #f3f3f3;
     padding: 15px;
     border-top: none;
 }

 .video-btn {
     background-color: var(--color-default);
 }

 /***********************************************/
 /* .teaser-3>.col {
    min-width: 33.3333333%;
}

.teaser-2>.col {
    min-width: 50%;
} */

 .teaser-3>.col {
     min-width: 33.3333333%;
     margin-bottom: 20px;
 }

 .teaser-2>.col {
     min-width: 50%;
     margin-bottom: 20px;
 }

 /* .col.active {
    background-color: #ff8a00;
} */

 @media(max-width: 768px) {

     .teaser-3>.col,
     .teaser-2>.col {
         min-width: 100%;
     }
     .teaser-2>.col {
        margin-top: 10px;
    }

 }

 .step-nav-circle {
     box-sizing: border-box;
     position: absolute;
     z-index: 5;
     top: 0;
     left: 0;
     width: 1.875em;
     height: 1.875em;
     color: #0b0c0c;
     background: var(--color-white);
     border-radius: 100px;
     text-align: center
 }


 .step-nav-circle--number {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-size: 16px;
     font-weight: bold;
     line-height: 29px;
     border: solid 1px #b1b4b6
 }

 @media print {
     .step-nav-circle--number {
         font-family: sans-serif
     }
 }

 @media (min-width: 40.0625em) {
     .step-nav-circle--number {
         font-size: 16px;
         line-height: 29px
     }
 }


 .step-nav-circle--logic {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-size: 19px;
     font-weight: bold;
     line-height: 28px;
     left: 3px;
     width: 1.5789473684em;
     height: 1.5789473684em
 }


 .step-nav-circle-inner {
     float: right;
     min-width: 100%
 }

 .step-nav-circle-background {
     text-shadow: 0 -.1em 0 var(--color-white), .1em 0 0 var(--color-white), 0 .1em 0 var(--color-white), -.1em 0 0 var(--color-white);
 }




 .accordion:after {
     content: "";
     position: absolute;
     z-index: 2;
     width: 0;
     height: 100%;
     border-left: solid 1px #b1b4b6;
     background: var(--color-white);
     left: 0;
     margin-left: 0.90625em;
     top: 0;
 }

 .accordion:last-child:before {
     content: "";
     position: absolute;
     z-index: 6;
     bottom: 0;
     left: 0;
     margin-left: 7.5px;
     width: 15px;
     height: 0;
     border-bottom: solid 1px #b1b4b6;
 }



 .breadcrumb-position {
    margin-bottom: -40px;
    position: relative;
    width: 100%;
    top: 10px;
    left: 30px;
 }

 .breadcrumb-position .breadcrumb {
     margin-left: 10px;
 }


 .blue-bg-all{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px;
    position: relative;
 }
 .blue-bg-all::after{
    position: absolute;
    background-color: var(--color-primary);
    display: block;
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    left: 99%;
    right: auto;
 }